* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "TextaAltRegular";
  src: local("TextaAltRegular"),
    url("../../assets/fonts/TextaAltRegular.ttf") format("truetype");
}

@font-face {
  font-family: "TextaAltBold";
  src: local("TextaAltBold"),
    url("../../assets/fonts/TextaAltBold.ttf") format("truetype");
}

@font-face {
  font-family: "TextaAltMedium";
  src: local("TextaAltMedium"),
    url("../../assets/fonts/TextaAltMedium.ttf") format("truetype");
}

body {
  font-family: "TextaAltRegular";
}
body,
input,
button,
textarea {
  font-weight: 400;
}

html {
  @media (max-width: 1080px) {
    font-size: 93.75%;
  }

  @media (max-width: 720px) {
    font-size: 87.5%;
  }
}

button {
  cursor: pointer;
}
